.contact {
  display: flex;
  flex-direction: row;
  height: 75vh;
  .address {
    width: 50%;
    border: 2px red solid;
  }
  .hours {
    width: 50%;
    .col {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
}